<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.palladiosimulator.experimentautomation.application.launchConfigurationType">
<stringAttribute key="Experiment Automation" value="platform:/resource/Minimal-Environment/%20Analyser/Configuration/Alternative_2015-05-26_02-27-20/pcm.experiments"/>
<intAttribute key="de.uka.ipd.sdq.workflowengine.debuglevel" value="2"/>
<stringAttribute key="outpath" value="org.palladiosimulator.temporary"/>
</launchConfiguration>
